extends ../layout
include ../mixin/control
block content
    .container-fluid
        .row
            .title 填写车牌号
        .row(style="margin-top:15px;background-color:#fff;border-top:1px solid #e3e3e3;position: relative;")
            label.label-horizontal(for="plateNum") 车牌号
            select#province-as(style="margin:5px 5px 5px 0;height:40px;line-height:40px;padding-right:15px;background-color:#efefef;font-size:14px;border-color:#efefef;border-radius:6px;")
               option(value="沪") 沪
               option(value="京") 京
               option(value="浙") 浙
               option(value="苏") 苏
               option(value="粤") 粤
               option(value="鲁") 鲁
               option(value="晋") 晋
               option(value="冀") 冀
               option(value="豫") 豫
               option(value="苏") 苏
               option(value="川") 川
               option(value="渝") 渝
               option(value="辽") 辽
               option(value="吉") 吉
               option(value="黑") 黑
               option(value="皖") 皖
               option(value="鄂") 鄂
               option(value="湘") 湘
               option(value="赣") 赣
               option(value="闽") 闽
               option(value="陕") 陕
               option(value="甘") 甘
               option(value="宁") 宁
               option(value="蒙") 蒙
               option(value="津") 津
               option(value="贵") 贵
               option(value="云") 云
               option(value="桂") 桂
               option(value="琼") 琼
               option(value="青") 青
               option(value="新") 新
               option(value="藏") 藏
            input.input-horizontal(placeholder="请输入车牌" id="plateNum" style="width:30%;")
            a#noPlateNum(style="right: 15px;position: absolute;top: 22px;font-size: 12px;color:#419cf9;") 新车未上牌？
        .row
            +control('车主','请输入车主姓名','personName')
        button#step1(type="button" class="btn btn-primary btn-lg btn-block" style="margin-top:30px;") 确定




